html *{
    font-family:"Open Sans",Helvetica,sans-serif
}
h1{
    font-size:4em;
    font-family:Manrope,Helvetica,sans-serif
}
h2{
    font-size:3em;
    font-family:Manrope,Helvetica,sans-serif
}
h3{
    font-size:2.625em;
    font-family:Manrope,Helvetica,sans-serif
}
h4{
    font-size:2.125em;
    font-family:Manrope,Helvetica,sans-serif
}
h5{
    font-size:1.5em;
    font-family:Manrope,Helvetica,sans-serif
}
h6{
    font-size:1em;
    font-family:Manrope,Helvetica,sans-serif
}
body{
    display:grid;
    grid-template-rows:auto 1fr auto;
    min-height:100vh
}
header{
    height:auto;
    box-shadow:0 2px 10px 5px rgba(0,0,0,.2);
    z-index:1
}
.header-items{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:10px 10px 10px 10px;
    margin-right:40px
}
.header-right{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:40px
}
.about{
    font-size:1.5em
}
.profileDropdown .logo img{
    width:15vw
}
.bodyContainer{
    display:flex;
    flex-direction:row
}
.sidebar{
    background-color:#b3dacb;
    width:170px
}
.sidebarList>*{
    font-size:16px;
    font-weight:700;
    line-height:300%;
    padding:30px 5px 10px 10px;
    list-style:none;
    font-size:.8em
}
#general-chosen-page-background{
    background-color:rgba(0,132,80,.3);
    border-radius:10px;
    padding-left:5px
}
.sidebar-list-items{
    display:flex;
    align-items:center;
    gap:4%
}
.sidebarList a{
    text-decoration:none;
    color:#000
}
.sidebarList a:hover{
    text-decoration:none;
    color:#000
}
.sidebarList li{
    margin-top:2px
}
.sidebarList li:hover{
    background-color:rgba(0,132,80,.3);
    border-radius:10px;
    padding-left:5px;
    margin-top:2px
}
.mainContainer{
    padding:10px 10px 10px 10px;
    width:100%
}
.progressDelen{
    border-bottom:ridge;
    display:flex;
    margin-top:5vh;
    margin-bottom:5vh
}
.progressDelen h4{
    padding-left:5vh
}
.searchContainer{
    margin-left:65%;
    border-radius:20px;
    border-bottom-right-radius:20px
}
#calendar{
    padding-top:2vh;
    padding-bottom:7vh;
    max-width:75%;
    margin:0 auto
}
a{
    color:#000!important;
    text-decoration:underline
}
footer{
    height:170px;
    background-color:rgba(0,0,0,.5)
}
.footerContent{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:10%;
    margin-right:10%;
    align-items:center
}
.footerContentLeft{
    display:flex;
    flex-direction:row
}
.footerContentLeft>*{
    padding-top:15px;
    font-size:14px;
    color:#fff;
    list-style:none
}
.footerContentRight{
    display:flex;
    flex-direction:column
}
.footerContentRight>*{
    padding-top:15px;
    font-size:14px;
    color:#fff
}
.footerContentRight img{
    width:70%
}

#orderModal .modal-dialog{
    max-width:80%;
}

.modal-content{
    height: auto;
    border-radius:50px;
    outline:5px #000 solid
}
.modal-body{
    overflow:scroll;
    max-width:100%;
    padding:0!important;
    display:grid;
    grid-template-columns: auto 70%;
    grid-template-rows: 80px auto;
}

.modalTopRow{
    width:100%;
    grid-row: 1;
    grid-column: 2;
    display:flex;
    flex-direction:row;
    justify-content:center;
    line-height:100%;
}

.modalTopRow h5{
    margin-top:auto;
    margin-bottom:auto;
    margin-left:15px;
}

.senderInfo, .recipientInfo{
    padding-left:10px;
    padding-right:10px;

    background-color: #e7e5e562;
    border-radius:10px;
    padding-top:10px;
    margin-top:10px;
    margin-bottom:10px;
    line-height:60%;
}

.modalBottomLeft{
    grid-row:1/2;
    grid-column:1;
}

.modalBottomRight{
    grid-row:2;
    grid-column:2;
}
.overview-modal-goolgeMaps-container{
    width:100%;
    height:100%;
    min-height:75vh;
}

@keyframes slideInRightBounce{
    0%{
        transform:translateX(100%)
    }
    50%{
        transform:translateX(-10%)
    }
    100%{
        transform:translateX(0)
    }
}
@keyframes slideOutRight{
    0%{
        transform:translateX(0)
    }
    100%{
        transform:translateX(100%)
    }
}
