body{
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

header{
    width:100%;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.header-items{
    display:flex;
    flex-direction:row;
    align-items:center;
    font-family:"Open Sans", Helvetica, sans-serif;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    margin-right:40px;
}

.header-right{
    display:flex;
    flex-direction:row;
    align-items:center;
    font-family:"Open Sans", Helvetica, sans-serif;
    gap:40px;
}

.logo{
    width:12.5%;
}

.bodyContainer{
    display:grid;
    grid-template-columns: 12.5% auto;
}

.sidebar{
    background-color: #B3DACB;
    max-width:200px;
}

.sidebarList>*{
    font-family:"Open Sans", Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    line-height: 200%;
    padding:20px 20px 20px 20px;
    list-style:none;

}

.progressDelen{
    border-bottom: ridge;
    padding-top: 18px;
    padding-bottom: 1px;
    display: flex;
}
.progressDelen h3{
    font-size: 24px;
    font-weight: bold;
    padding-left: 45px;
    margin-top: 10px;
}
.dottene{
    margin-left: 80px;
    margin-bottom: 0px;
}
.dot { /* denne er for de grønne små dottene*/
    height: 10px;
    width: 10px;
    background-color: #008450;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    margin-bottom: 15px;
}

.dot1 { /* denne er for de grønne større dottene*/
    height: 40px;
    width: 40px;
    background-color: #008450;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}
.dot2 { /* denne er for de grå små dottene*/
    height: 10px;
    width: 10px;
    background-color: #C0C0C0;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
    margin-bottom: 15px;
}

.dot3 { /* denne er for de store grå dottene*/
    height: 40px;
    width: 40px;
    background-color: #C0C0C0;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}

.venstreSide{
    margin: 15px;
    margin-left: 35px;
    margin-top: 40px;
    margin-bottom: 250px;
}
.venstreSide #textBoks{
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.venstreSide h3{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.venstreSide p{
    font-size: 15px;
    margin-left: 15px;
    font-weight: 300;
}

.venstreSide input{
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    text-shadow: none;
    margin: 15px;
    width: 230px;
}

input[type="text"]{ /* dette er for å definere størrelsen på teksten innenfor boksene + alle de neddenfor*/
    font-size: 14px;
}
input[type="number"]{
    font-size: 14px;
}
textarea[type="text"]{
    font-size: 14px;
}
input[type="email"]{
    font-size: 14px;
}

footer{
    height:150px;
    background-color: rgba(0,0,0,0.5);
}

.footerContent{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left:12.5%;
    margin-right:12.5%;
    align-items:center;
}

.footerContentLeft{
    display:flex;
    flex-direction:row;
    
}

.footerContentLeft>*{  
    padding-top:15px;
    font-family:"Open Sans", Helvetica, sans-serif;
    font-size:14px;
    color:white;
    list-style:none;
}

.footerContentRight{
    display:flex;
    flex-direction:column;
}

.footerContentRight>*{  
    padding-top:15px;
    font-family:"Open Sans", Helvetica, sans-serif;
    font-size:14px;
    color:white;
}
.footerContentRight img{
    width:70%;
}